.App {
  border: 5px solid orange;
  text-align: center;
}


/* Nav Bar */
.nav {
  border: 5px solid yellow;
  background-color: rgb(193, 241, 241);
  position: static;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.nav .nav-content {
  border: 5px solid blue;
  max-width: 1000px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  border: 5px solid pink;
}

.menu {
  border: 5px solid purple;
  display: flex;
  flex-direction: column;
}

/* Login Page */
.login-wrap {
  border: 5px solid fuchsia;
  background-color: #00a1fe;
  max-width: 300px;
  margin: auto;
  padding: 1em;
  border-radius: 50px;
  text-align: center;
  border: solid;
}

.login-field {
  border: 5px solid black;
  margin-bottom: 10px;
}

.login-submit {
  border: 5px solid gray;
  margin: 5px;
}

.login-new-user:link {
  text-decoration: none;
}

.login-new-user:visited {
  text-decoration: none;
}

.login-new-user:hover {
  /* color: #ffffff; */
  text-decoration: none;
}

.login-new-user:active {
  /* color: #000000; */
  text-decoration: none;
}


/* Register Page */
.register-wrap {
  background-color: #00a1fe;
  max-width: 300px;
  margin: auto;
  padding: 1em;
  border-radius: 50px;
  text-align: center;
  border: solid;
}

.register-field {
  margin-bottom: 10px;
}

.register-submit {
  padding: 10px;
}

.user-label {
  width: 80px;
  display: inline-block;
  text-align: left;
}


/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */